.cake-photo{
  height: 500px;
  width: 666px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;

  i {
    padding: $spacer;
    font-size: 32px;
  }
}
.cake-info {
  background-color: rgba(255, 255, 255, 0.8);
  height: 200px;
  width: 100%;
  margin-left: 16px;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  p {
    margin-top: 12px;
  }
}

.btn-order {
  border-radius: 20px;
  background-color: rgb(240, 78, 35);
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  &:hover {
    background-color: rgb(240, 78, 35);
    opacity: 0.6;
    color: white;
    }
}
.container-main {

  #card-user {
    width: 50%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: ($spacer * 2);

    #user-name {
      font-family: 'Lobster', cursive;
    }

    #user-info {
      padding-right: 0;
      margin: 0;
      h4 {
        font-weight: bold;
      }
      p {
        margin: 0;
      }
    }

    #user-photo {

      img {
        height: 100px;
        width: auto;
        border-radius: 50%;
      }
    }
  }
  h1 {
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 3;
  }
}
.flex-box {
  display: flex;
  width: auto;
  justify-content: center;
  margin-top: 24px;
}

.alergy {
  // margin: 12px;
  // height: 12px;
}
.fa-heart{
  position: absolute;;
  color: red;
    &:hover {
      opacity: 0.5;
    }
}

.fa-star {
  color: rgb(255, 180, 0);
}
