.cake-img {
  height: 180px;
  width: 180px;
}
.card {
  width: 260px;
  height: 340px;
  color: white;
  background-color: rgba(4, 41, 79, 0.8);
  margin: 8px;
}
.cake-price{
  bottom: 0px;
  right: 12px;
  font-weight: bold;
  font-size: 18px;
}
.card-product {
  padding: 12px;
  min-height: 120px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  // display: flex;
  align-items: center;
}
.card-form {
  width:800px;
  height: 400px;
  background-color: rgba(4, 41, 79, 0.8);
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  align-items: center;
  h1 {
    padding-top: 18px;
    margin-bottom: 24px;
  }
}

.form {
  width:80%;
  margin: auto;
}
.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
}




.card-dash {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 74%;
  margin-bottom:25px;
}

.card-dash img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-dash h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-dash p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-dash .card-dash-infos {
  padding: 16px;
  text-align: left;
  width: 100%;
}

.card-dash {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 74%;
  margin-bottom:25px;
  margin-left: 50px;
}

.card-dash img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-dash h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-dash p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-dash .card-dash-infos {
  padding: 16px;
  text-align: left;
  width: 100%;
}



