.card-order{
  width: 520px;
  background-color: #f8f9fa;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-color: black;
  border-radius: 10px;
  text-align: center;

}

.lists-display{
  display:flex;
  justify-content: space-between;
}

.order-list h2{
  text-align: center;
}

.order-list h2{
  text-align: center;
}

.cake-list h2{
  text-align:center;
}

h1{
  text-align: center;
  margin-bottom: 80px;
}
